flask
google-generativeai
python-dotenv
SQLAlchemy
alembic
python-json-logger
eventlet
websocket-client
flask-socketio
python-socketio
flask-admin
flask_sqlalchemy
font-manager
pillow
flask-cors
PySide6
requests
appdirs
pywin32; sys_platform == 'win32'
Flask-Migrate
fuck u
