flask==3.0.0
google-generativeai==0.3.2
python-dotenv==1.0.0
SQLAlchemy==2.0.25
alembic==1.13.1
python-json-logger==2.0.7

# Choose one async engine for Flask-SocketIO. Example using eventlet:
eventlet==0.33.0
websocket-client==1.5.2
flask-socketio==5.3.6
python-socketio==5.5.2

flask-admin==1.6.1
flask_sqlalchemy==3.1.1
font-manager==0.3.0
pillow==10.0.0
flask-cors==4.0.2
PySide6==6.5.1     # Updated to PySide6
requests==2.32.2   # Added missing requests
appdirs==1.4.4
pywin32==306; sys_platform == 'win32'
Flask-Migrate==4.0.5
